{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('todo_list') }}" title="Home page">Home</a></li>
        <li><a href="{{ path('todo_list') }}" title="Task list">List</a></li>
        <li class="active">Details</li>
    </ol>

    <h2 class="page-header">{{ todo.name }}<div style="float :right; color: green;">{{ todo.category }}<div></h2>

    <div>
        <li class="list-group-item"><strong>Flight &emsp;&emsp;&emsp;: </strong> {{ todo.flight }}</li>
        <li class="list-group-item"><strong>Extra Order &nbsp;:</strong> {{ todo.extraOrder }}</li>
        <li class="list-group-item"><strong>Create Date &nbsp;:</strong> {{ todo.createDate|date('F j, Y') }}</li><!--, g:i a-->
        <li class="list-group-item"><strong>Cutlery &emsp;&emsp; :</strong> {{ todo.cutlery }}</li>
        <li class="list-group-item" style="color :red;"><strong>Reminder &emsp; :</strong> {{ todo.reminder }}</li>
        
        <!--<li class="list-group-item" style="color :green;"><strong> </strong> {{ todo.category }}</li>-->
    </div>

    <br />
<!-- Table Style
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Category</th>
            <th>FinalMeal</th>
            <th>ExtraOrder</th>
            <th>Create date</th>
        </tr>
        </thead>
        <tbody>       
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
-->
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start active" style="background-color : #1c2a48; border-color : #1c2a48;">
            <div>
                <!-- white-space: pre-wrap will call up all spacing & line breaking-->
                <h4 style="white-space: pre-wrap;">{{ todo.finalmeal }}</h4>
                <small><a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn" title="Edit Figure" style="color: #fff; font-size: 20px;"><i class="far fa-edit fa-spin"></i></a></small>
                <small style="float: right;"><a href="#" class="btn btn-primary" title="Email to Catering"><i class="far fa-envelope-open">&nbsp; Send Email </i></a></small>
            </div>
        </div>
    </div>
   

{% endblock %}
