{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('todo_list') }}" title="Home page">Final Meal</a></li>
        <li class="active">List</li>
        <li><a href="JavaScript:newPopup('https://cbsweb.evaair.com/GCS/Login.aspx');">GCS/Login</a></li>
    </ol>

    <script type="text/javascript">
    // Popup window code
    function newPopup(url) {
    popupWindow = window.open(url,'popUpWindow1','height=800, width=800, left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
    </script>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Create Date</th>
            <th>Flight</th>
            <th style="width: 10px;">&nbsp;</th>
            <th>&nbsp;</th>
            
        </tr>
        </thead>
        <tbody>

        <h2 class="page-header">Final-Meal List</h2>

        {% if todos is defined %}
            {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.name }}</td>
                <td>{{ todo.createDate|date('F j, Y') }}</td>
                <td>{{ todo.flight }}</td>
                <td><a href="{{ path('todo_details', {'id': todo.id}) }}" class="btn btn-success" title="View Final-Meal">View &nbsp;<i class="fas fa-search"></i></a></td>
                <!--<td><a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn btn-primary" title="Edit Figure">Edit <i class="far fa-edit"></i></a></td>-->
                <!--<td><a href="{{ path('todo_delete', {'id': todo.id}) }}" class="btn btn-danger" title="Delete">Delete</a></td>-->
                <td><span class="btn btn-info">{{ todo.category }}<i class=""></i></span></td>
            </tr>
            {% endfor %}
        {% else %}
            No
        {% endif %}
        </tbody>
    </table>
{% endblock %}
